*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}
.my-container{
    min-height: 700px;
}
html,body{
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 16px;
    
    background: rgb(245, 245, 245);
}
footer{
    
    background:  #343a40;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}